body {
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
.navbar {
    display: flex;
    position:sticky;
    top: 0;
    width: 100%;
    z-index: 9999;

}
.logo{
    border-radius: 50%;
    object-fit: cover;
    width: 100px;
    height: 50px;
}
.carousel-gambar{
    display: block;
    width: 100vw;
    height: 535px;
}
.carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    color: #ffffff;
}
.carousel-caption h3{
    font-size: 40px;
}
/* about */
.about{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  